<div class="dice-roll">
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    {{{tooltip}}}
    <h4 class="dice-total">{{total}}</h4>
  </div>
</div>

<div style="text-align: center">
  {{#if success}}
    <h2 style="border-bottom: none; margin: 0.1rem" title="{{total}} <= {{characteristicValue}}">Hit!</h2>
  {{/if}}
  {{#unless success}}
    <h2 style="border-bottom: none; margin: 0.1rem" title="{{total}} > {{characteristicValue}}">Miss!</h2>
  {{/unless}}
</div>
