<div class="opponent-hit-action">
  <div class="card-buttons" data-owner-id="{{actorId}}">
    <p>Hit! Location={{hitLocation}}</p>
    <button
      type="button"
      class="evasion"
      data-actor-id="{{actorId}}"
      data-attacker-id="{{attackerId}}"
      data-item-id="{{itemId}}"
      data-hit-location="{{hitLocation}}"
    >
      Evasion ({{evasionValue}})
    </button>
    <button type="button" class="other">Other (Manual)</button>
  </div>
</div>
