<form class="{{cssClass}} flexcol" autocomplete="off">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
  <div>
    name: {{item.name}}
  </div>
  <div>
    tags: {{data.tags}}
  </div>
  <div>
    alias: {{data.alias}}
  </div>
  <div>
    cost: {{data.cost}}
  </div>
  <div>
    weight: {{data.weight}}
  </div>
  <div>
    description: {{{data.description}}}
  </div>
  <div>
    tag: {{data.tag}}
  </div>
</form>
