<form style="flex: 0; margin: 10px" class="{{cssClass}} weapon-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flexrow">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" />
      <div class="flexcol">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" style="margin: 0; width: 100%" />
        </h1>
        <div class="flexrow">
          <input type="text" data-dtype="String" name="data.tags" value="{{data.tags}}" placeholder="Tags" />
          <input type="text" data-dtype="String" name="data.alias" value="{{data.alias}}" placeholder="Weapon Alias"
                 style="flex: 3" />
        </div>
      </div>
    </div>
  </header>
  <div style="margin: 10px 0">
    <div class="flexrow">
      <div class="flexcol">
        <label for="weapon-type">Weapon Type</label>
        <input id="weapon-type" type="text" data-dtype="String" name="data.weaponType" value="{{data.weaponType}}"
               placeholder="Weapon Type" />
      </div>
      <div class="flexcol">
        <label for="range">Range</label>
        <input id="range" type="text" data-dtype="String" name="data.range" value="{{data.range}}"
               placeholder="Range" />
      </div>
      <div class="flexcol">
        <label for="weight">Weight</label>
        <input id="weight" type="number" data-dtype="Number" name="data.weight" value="{{data.weight}}"
               placeholder="weight" />
      </div>
      <div class="flexcol">
        <label for="cost">Cost</label>
        <input id="cost" type="number" data-dtype="Number" name="data.cost" value="{{data.cost}}" placeholder="Cost" />
      </div>
    </div>
  </div>
  <div style="margin: 10px 0">
    <h3>Damage</h3>
    <div class="flexrow">
      <div class="flexcol">
        <label for="damage-roll">Damage Roll</label>
        <input id="damage-roll" type="text" data-dtype="String" name="data.damageRoll" value="{{data.damageRoll}}"
               placeholder="Damage Roll" />
      </div>
      <div class="flexcol" style="flex: 2">
        <label for="base-damage">Base Damage</label>
        <input id="base-damage" type="text" data-dtype="String" name="data.baseDamage" value="{{data.baseDamage}}"
               placeholder="Base Damage" />
      </div>
      <div class="flexcol">
        <label for="piercing">Piercing</label>
        <input id="piercing" type="number" data-dtype="Number" name="data.piercing" value="{{data.piercing}}"
               placeholder="Piercing" />
      </div>
    </div>
  </div>
  {{#if showFiring}}
    <div style="margin: 10px 0">
      <h3>Firing</h3>
      <div class="flexrow">
        <div class="flexcol">
          <label for="magazin-size">Magazin Size</label>
          <input id="magazin-size" type="number" data-dtype="Number" name="data.magazin" value="{{data.magazin}}"
                 placeholder="Magazin Size" />
        </div>
        <div class="flexcol">
          <label for="ammunition-type">Ammunition Type</label>
          <input id="ammunition-type" type="text" data-dtype="String" name="data.ammunition" value="{{data.ammunition}}"
                 placeholder="Ammunition Type" />
        </div>
        <div>
          <label for="reload-speed">Reload Speed</label>
          <input id="reload-speed" type="number" data-dtype="Number" name="data.reload" value="{{data.reload}}"
                 placeholder="Reload Speed" />
        </div>
      </div>
    </div>
  {{/if}}
  {{#if showFiringModes}}
    <div style="margin: 10px 0" role="table">
      <div role="rowgroup">
        <div role="columnheader">
          Firing Modes
        </div>
      </div>
      {{#each data.fireModes as |fireMode key|}}
        <div role="rowgroup">
          <div role="cell" style="flex: 2">
            <select name="data.fireModes.{{key}}.mode" data-dtype="String">
              {{#select fireMode.mode}}
                <option value="automatic">Automatic</option>
                <option value="burst">Burst</option>
                <option value="drawback">Drawback</option>
                <option value="flamethrowers">Flamethrowers and Defoliants</option>
                <option value="flintlock">Flintlock</option>
                <option value="pumpaction">Pump Action</option>
                <option value="semiautomatic">Semi-Automatic</option>
                <option value="sustained">Sustained</option>
                <option value="charge">Charge</option>
              {{/select}}
            </select>
          </div>
          <div role="cell" style="flex: 3">
            <input type="number" data-dtype="Number" name="data.fireModes.{{key}}.value" value="{{fireMode.value}}"
                   placeholder="Rate of Fire" />
          </div>
          <div role="cell" style="flex: 0">
            <button class="remove-firing-mode" data-key="{{key}}">
              <i class="fas fa-trash" style="margin: 0"></i>
            </button>
          </div>
        </div>
      {{/each}}
    </div>
    {{#if editable}}
      <button class="add-firing-mode" style="margin: 0">Add Firing Mode</button>
    {{/if}}
  {{/if}}
  <div style="margin: 10px 0">
    {{#if editable}}
      <h3><label for="description">Description</label></h3>
      <textarea id="description" data-dtype="String" name="data.description" placeholder="Description" rows="5"
                style="resize: none;">{{data.description}}</textarea>
    {{else}}
      <h3>Description</h3>
      <div>{{data.description}}</div>
    {{/if}}
  </div>
</form>
